{{define "base"}}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact App</title>
    <script src="https://unpkg.com/htmx.org" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/notie/dist/notie.min.css">
    {{block "css" .}}

    {{end}}
</head>
<body hx-boost="true">
<h1>Contact HTMX Application</h1>
<!-- fake menu -->
<a href="/contacts">Contacts</a>
<a href="/settings">Settings</a>
<a href="/help">Help</a>

{{block "content" .}}

    {{end}}

    <script src="https://unpkg.com/notie"></script>

    {{block "js" .}}

    {{end}}

    <script>
        function notify(msg, msgType) {
            notie.alert({
                type: msgType,
                text: msg,
            })
        }

        {{with .Success}}
            notify("{{.}}", "success")
        {{end}}

        {{with .Warning}}
            notify("{{.}}", "warning")
        {{end}}

        {{with .Error}}
            notify("{{.}}", "error")
        {{end}}
    </script>
</body>
</html>
{{end}}

