{{template "base" .}}
{{define "content"}}
<h1>{{ .Data.contact.First }} {{ .Data.contact.Last }}</h1>
<div>
    <div>Phone: {{.Data.contact.Phone}}</div>
    <div>Email: {{.Data.contact.Email}}</div>
</div>

<p>
    <a href="/contacts/{{.Data.contact.ID}}/edit">Edit</a>
    <a href="/contacts">Back</a>
</p>
{{end}}

