{{template "base" .}}
{{define "content"}}
    <h2>Contacts Page</h2>
    <form action="/contacts" method="get" class="tool-bar">
        <label for="search">Search Term</label>
        <input id="q" type="search" name="q" value="{{ .StringMap.q}}"/>
        <input type="submit" value="Search"/>
        <table>
            <thead>
            <tr>
                <th>First</th> <th>Last</th> <th>Phone</th> <th>Email</th> <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {{ range .Data.contacts }}
                <tr>
                    <td>{{ .First }}</td>
                    <td>{{ .Last }}</td>
                    <td>{{ .Phone }}</td>
                    <td>{{ .Email }}</td>
                    <td>
                        <a href="/contacts/{{ .ID }}/edit">Edit</a>
                        <a href="/contacts/{{ .ID }}">View</a>
                    </td>
                </tr>
            {{ end }}
            </tbody>
        </table>
        <p>
            <a href="/contacts/new">Add Contact</a>
        </p>
    </form>
{{end}}


