{{template "base" .}}
{{define "content"}}
<h2>HTMX Playground</h2>
<div id="main">
    <form>
        <label for="search">Search Contacts:</label>
        <input id="search" name="q" type="search" placeholder="Search Contacts"/>
        <button hx-post="/apix/contacts" hx-target="#results">
            Search The Contacts
        </button>
    </form>
</div>
<div id="results"></div>
{{end}}